{% extends 'product/index.html' %}
{% block one %}
{% load static %}

<div class="container my-5 pt-5">
  <div class="row mt-5">
  <div class="col-sm-6">
    <h3>Order Summary</h3> <hr>
     
       <!--  for loop here -->
        {% for i,j,k in list_final %}
 
     <div class="card mb-2">
      <div class="card-body">
       <h5>Product: {{i.name}}</h5>
       <p>Quantity: {{j}}</p>
        <p class="fw-bold">Price: {{k}}</p>
       </div>
    </div>
    {% endfor %}
    <!-- endforloop -->
    <p class="fw-bold">Total Cost + &#x20B9; 40 = {{dcharge}}</p>
    <small>A payment terms agreement is a legal contract between a buyer and seller that outlines how payments will be made.</small>
    </div>

    <div class="col-sm-4 offset-sm-1">
    	<!-- <h4>Select shiping address</h4>
    	<hr> -->
    	<form action="{% url 'item_payment' %}" method="post" id="myform">
    		{% csrf_token %}
    	
    		<div class="form-check mb-3">
    			<label for="totamount" class="form-label">Total Amount</label>
    			<input type="number" class="form-control" name="totamount"
    			 value="{{dcharge}}" readonly>
    		</div>
    		<div class="text-end">
    		<input type="submit" class="btn btn-warning mt-3 px-5 fw-bold" 
        value="Make Payment">
        
    		</div>
    	</form>

     <!-- Payment gateway -->

     {% if payment %}
        <form action="{% url 'payment-status' %}" method="post">    
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_YOZmSe3bpko5fp"
            data-amount="{{payment.amount}}" 
            data-currency="{{payment.currency}}"
            data-order_id="{{payment.id}}"
            data-buttontext="Pay with Razorpay"
            data-name="NitishEShop"
            data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
            data-image="https://example.com/your_logo.jpg"
            data-prefill.name="{{payment.user}}"
            data-prefill.email="you@example.com"
            data-theme.color="#F37254">
        </script>
        <input type="hidden" custom="Hidden Element" name="hidden">
                
        </form>
    {% endif %}

     <!-- End payment gateway -->


    </div>
    <div>
  </div>
 </div>
</div>


{% endblock one %}
