{% extends 'product/index.html' %}
{% block one %}

<div class="pt-5 my-4 text-center">
  <form action="" method="post">
      {% csrf_token %}
      <input type="text" name="max" placeholder='Enter max value'> 
      <input type="text" name="min" placeholder='Enter min value'>
      <input type="submit" value="Filter">
  </form>
  </div>

  {% if data1 %} 
    <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
    {% for i in data1 %}
    {% if i.price >= min and i.price <= max %}

    <div class="col-3 text-center">
    <div class="card">
    <a href="{% url 'prodetail' i.id %}" class="btn">
    <img class="card-img-top" alt="card-image" src="{{i.image.url}}" 
    height="200px">
        <h5 class="card-title text-uppercase">{{i.name}}</h5>
        <p>Price: &#x20B9; {{i.price}} </p>
        <p class="text-success">In Stock: {{i.quantity}} </p>     
    </div>
   </a>
  </div>
  {% endif %}
{% endfor %}
</div>
</div>
{% endif %}


{% if data2 %} 
<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
{% for i in data2 %}
{% if i.price >= min and i.price <= max %}

<div class="col-3 text-center">
<div class="card">
<a href="{% url 'surfTask' i.id %}" class="btn">
<img class="card-img-top" alt="card-image" src="{{i.image.url}}" 
height="200px">
    <h5 class="card-title text-uppercase">{{i.name}}</h5>
    <p>Price: &#x20B9; {{i.price}} </p>
    <p class="text-success">In Stock: {{i.quantity}} </p>     
</div>
</a>
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}



{% if data3 %} 
<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
{% for i in data3 %}
{% if i.price >= min and i.price <= max %}

<div class="col-3 text-center">
<div class="card">
<a href="{% url 'mobileTask' i.id %}" class="btn">
<img class="card-img-top" alt="card-image" src="{{i.image.url}}" 
height="200px">
    <h5 class="card-title text-uppercase">{{i.name}}</h5>
    <p>Price: &#x20B9; {{i.price}} </p>
    <p class="text-success">In Stock: {{i.quantity}} </p>     
</div>
</a>
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}

{% endblock one %}



