{% extends 'product/index.html' %}
{% block one %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>signup page</title>
   <style>
       body{
        background-color: cyan;
      }
   </style>
</head>
<body>
     <div class="container pt-5">
      <div class="row my-3">
         <div class="col-sm-6 offset-sm-3 shadow-lg p-3 mb-5 bg-body rounded">
            <h3 class="text-center">Login Form</h3>
            <hr>
             {% if messages %}
           {% for i in messages %}
           <div class="alert alert-{{i.tags}}" role="alert">
              {{i}}
           </div>
           {% endfor %}
         {% endif %}

          {% if msg  %}
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
           {{msg}}
            </div>
             {% endif %}

           <form action="{% url 'login' %}" method="post">
         {% csrf_token %}
         {% for i in fm %}
            {{i.label_tag}} {{i}} <small class="text-danger">{{i.errors | striptags}}</small> <br>

         {% endfor %}
         <small><a href="{% url 'pass_reset' %}">Forgot Password ?</a></small> <br>
         <input type="submit" class="btn btn-primary my-3" value="Login">
         <div class="text-center text-primary fw-bold">
         <small>New User ? <a href="{% url 'signup' %}" class="text-danger">Signup Now</a>
         </small>   
         </div>
        </form>
         </div>   
      </div>   
     </div>  
                                      
</body>
</html>

{% endblock one %}